$primary: #0f2999;
$primary-400: lighten($primary, 10%);
$primary-200: lighten($primary, 20%);
$white: #fff;
$gray: #8d8d8d;
$red: #ff0303;
$gray-200: lighten($gray, 20%);
$black: #000000;
$blue-dark: #18263b40;
